.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  background-color: #fff;
  height: 90vh;
  width: 250px;
  margin-top: 20px;
}

.nav-item {
  padding-left: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #262727;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 10px;
}
.nav-link {
  color: #000;
  text-decoration: none;
}
